PC             BITMAP PC.BMP

BIGSPIDER      BITMAP BIGSPIDER.BMP
REDSPIDER      BITMAP REDSPIDER.BMP
CAVESPIDER     BITMAP CAVESPIDER.BMP
GOBLIN         BITMAP GOBLIN.BMP
DARKGOBLIN     BITMAP DARKGOBLIN.BMP
CAVEGOBLIN     BITMAP CAVEGOBLIN.BMP
SLUG           BITMAP SLUG.BMP
BIGSLIME       BITMAP BIGSLIME.BMP
SLIME          BITMAP SLIME.BMP
SMALLSLIME     BITMAP SMALLSLIME.BMP
BAT            BITMAP BAT.BMP
CAVEBAT        BITMAP CAVEBAT.BMP
BLUEBAT        BITMAP BLUEBAT.BMP
SKELETON       BITMAP SKELETON.BMP
SKELETONMAGE   BITMAP SKELETONMAGE.BMP
MAGAN          BITMAP MAGAN.BMP
DARKEYE        BITMAP DARKEYE.BMP
NECROMANCER    BITMAP NECROMANCER.BMP
TUORG          BITMAP TUORG.BMP

LIFEBAR        BITMAP LIFEBAR.BMP
MANABAR        BITMAP MANABAR.BMP
PCEXPBAR       BITMAP PCEXPBAR.BMP
PCLIFEBAR      BITMAP PCLIFEBAR.BMP
PCMANABAR      BITMAP PCMANABAR.BMP

FLOOR0         BITMAP FLOOR0.BMP
FLOOR1         BITMAP FLOOR1.BMP
FLOOR2         BITMAP FLOOR2.BMP
FLOOR3         BITMAP FLOOR3.BMP
FLOOR4         BITMAP FLOOR4.BMP
FLOOR5         BITMAP FLOOR5.BMP

GRASS0         BITMAP GRASS0.BMP
GRASS1         BITMAP GRASS1.BMP
GRASS2         BITMAP GRASS2.BMP
GRASS3         BITMAP GRASS3.BMP
GRASS4         BITMAP GRASS4.BMP
GRASS5         BITMAP GRASS5.BMP

WALL0          BITMAP WALL0.BMP
WALL1          BITMAP WALL1.BMP
WALL2          BITMAP WALL2.BMP
WALL3          BITMAP WALL3.BMP
WALL4          BITMAP WALL4.BMP
WALL5          BITMAP WALL5.BMP
WALL6          BITMAP WALL6.BMP
WALL7          BITMAP WALL7.BMP

STONE          BITMAP STONE.BMP

UP             BITMAP UP.BMP
DOWN           BITMAP DOWN.BMP

TREES          BITMAP TREES.BMP
TREE           BITMAP TREE.BMP
BUSH           BITMAP BUSH.BMP

CDOOR          BITMAP CDOOR.BMP
ODOOR          BITMAP ODOOR.BMP

EXP            BITMAP EXP.BMP
LIFE           BITMAP LIFE.BMP
PLIFE          BITMAP PLIFE.BMP
MANA           BITMAP MANA.BMP
DAMAGE         BITMAP DAMAGE.BMP
PROTECT        BITMAP PROTECT.BMP
LOCK           BITMAP LOCK.BMP

FOG            BITMAP FOG.BMP

SLEDGEHAMMER   BITMAP SLEDGEHAMMER.BMP

BASESHRINE     BITMAP BASESHRINE.BMP
TREASURE       BITMAP TREASURE.BMP
EMPTYSHRINE    BITMAP EMPTYSHRINE.BMP

BARREL         BITMAP BARREL.BMP
WOODCHEST      BITMAP WOODCHEST.BMP
BESTCHEST      BITMAP BESTCHEST.BMP

DECORATORS     BITMAP DECORATORS.BMP
EFFECTS        BITMAP EFFECTS.BMP

GOLDCOINS      BITMAP GOLDCOINS.BMP
ORE            BITMAP ORE.BMP
KEY            BITMAP KEY.BMP

MINIPOTION     BITMAP MINIPOTION.BMP
NORMPOTION     BITMAP NORMPOTION.BMP
BASEPOTION     BITMAP BASEPOTION.BMP
NANOPOTION     BITMAP NANOPOTION.BMP
BIGPOTION      BITMAP BIGPOTION.BMP
RAREPOTION     BITMAP RAREPOTION.BMP
CUBEPOTION     BITMAP CUBEPOTION.BMP
MAJORPOTION    BITMAP MAJORPOTION.BMP

STONEHAMMER    BITMAP STONEHAMMER.BMP

HATCHET        BITMAP HATCHET.BMP
WARAXE         BITMAP WARAXE.BMP
LARGEAXE       BITMAP LARGEAXE.BMP
BROADAXE       BITMAP BROADAXE.BMP
BATTLEAXE      BITMAP BATTLEAXE.BMP
GREATAXE       BITMAP GREATAXE.BMP
GIANTAXE       BITMAP GIANTAXE.BMP

SHORTSWORD     BITMAP SHORTSWORD.BMP

ARROW          BITMAP ARROW.BMP
HUNTBOW        BITMAP HUNTBOW.BMP
LONGBOW        BITMAP LONGBOW.BMP

BOLT           BITMAP BOLT.BMP
LIGHTCROSSBOW  BITMAP LIGHTCROSSBOW.BMP
SIEGECROSSBOW  BITMAP SIEGECROSSBOW.BMP

SMALLSHIELD    BITMAP SMALLSHIELD.BMP
LARGESHIELD    BITMAP LARGESHIELD.BMP
TOWERSHIELD    BITMAP TOWERSHIELD.BMP
GOTHICSHIELD   BITMAP GOTHICSHIELD.BMP
     
RINGMAIL       BITMAP RINGMAIL.BMP
SCALEMAIL      BITMAP SCALEMAIL.BMP
LEATHERARMOR   BITMAP LEATHERARMOR.BMP
STUDDEDLEATHER BITMAP STUDDEDLEATHER.BMP

MESHBOOTS      BITMAP MESHBOOTS.BMP
HEAVYBOOTS     BITMAP HEAVYBOOTS.BMP

CAP            BITMAP CAP.BMP
HELM           BITMAP HELM.BMP

FIRERING       BITMAP FIRERING.BMP
EARTHRING      BITMAP EARTHRING.BMP

MISSILES       BITMAP MISSILES.bmp

SCROLL         BITMAP SCROLL.bmp

TAMARILIS      BITMAP TAMARILIS.bmp
